<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Super page of <em>Destiny</em>!</h1>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error adipisci labore
      reiciendis, numquam et, fugit harum, mollitia tenetur molestias quasi enim. Magni
      dolorum mollitia nam maxime laboriosam earum suscipit incidunt!
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error adipisci labore
      reiciendis, numquam et, fugit harum, mollitia tenetur molestias quasi enim. Magni
      dolorum mollitia nam maxime laboriosam earum suscipit incidunt!
    </p>
    <footer>
      <strong>Copyright - <%= currentYear %></strong>
    </footer>
  </body>
</html>
